[submodule "github-actions/laika_repo"]
	path = github-actions/laika_repo
	url = https://github.com/commaai/laika
[submodule "github-actions/cereal"]
	path = github-actions/cereal
	url = https://github.com/commaai/cereal
